@import "tailwindcss";

@theme {
  --color-cream: #EAE8E1;
  --color-ink: #1a1a1a;
  --color-border: #C5C5BA;
  --color-mustard-50: #EBE5D5;
  --color-mustard-100: #EDE1BF;
  --color-mustard-200: #F5E0A9;
  --color-mustard-300: #F5D171;
  --color-mustard-400: #E0BA55;
  --color-mustard-500: #C09E46;
  --color-mustard-600: #A38535;
  --color-mustard-700: #826A2C;
  --color-mustard-800: #63501E;
  --color-mustard-900: #463813;
  --color-mustard-950: #1E190B;
}

@theme inline {
  --font-serif: var(--font-eb-garamond), Georgia, serif;
}
